/* MENU DE NAVEGACIÓN */
#menu{
	position: fixed;	
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
}
#menu li{
	display: inline-block;
	margin: 0 5px 0 0;
}
#menu li a {
	padding: 2px 7px 2px 7px;
	color: white;
	background-color: black;
	border: 1.5px solid white;
	text-decoration: none;
	font-size: 20px; 
}
#menu li a:hover{
	background-color: blue;
	color: #ffffff;
}

/* CONTACTO */
#contacto{
	background-image: url(../fotos/fondo4.png);
	background-position: center;	
	background-size: 100% 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center; 
	color: white;
}
#titulo-contacto{
	padding: 18px 100px 0px 100px;
	font-size: 60px;
}
#h3-contacto {
	font-size: 30px;
	color: hsl(1189,100%,50%);
	text-shadow: 1px 1px 1px white;
}
label{
	padding-right: 10px;
	font-size: 20px;
	color: black;
	text-shadow: 2px 2px 8px #FF0000;
}
#campo1{
	margin: 0px 0px 0px 2px;
}
#campo2{
	margin: 0px 7px 0px 2px;
}
#campo3{
	margin: 4px 24px 3px 2px;
}
span{
	color: red;
}
form{
	padding-left: 100px;
}
button{
	border: 2px solid black;
	color: black;
	font-size: 18px;
	margin: 0px -50px 0px 2px;
	background-color: yellow;
}
@font-face{
	font-family: "letra";
	src: url("../font/letra.ttf");
}
html {
 font-family:"letra", "Bitstream Vera Serif", serif;
}	




@media screen and (min-width: 695px) and (max-width: 800px){
ul li{
	width: 27%;
	padding: 5px 1px 5px 5px;
}
h1{
	padding: 100px 10px 20px 5px;
	font-size: 60px;
}
label{
	color: white;
    text-shadow: 2px 2px 4px #000000;
}
}




@media screen and (min-width: 486px) and (max-width: 694px){
ul li{
	width: 40%;
	padding: 2px 1px 10px 1px;
}
h1{
	padding: 100px 10px 20px 5px;
	font-size: 50px;
}
label{
	color: white;
    text-shadow: 2px 2px 4px #000000;
}
}




@media screen and (max-width: 485px){
ul li{
	width: 100%;
	padding: 5px 10px 10px 0;
}
h1{
	padding: 250px 10px 10px 5px;
	font-size: 50px;
	color: black;
}
h3{
	color: hsl(1189,100%,50%);
}
label{
	color: white;
}
}